# global gitignore file

# cmake project file
CMakeCache.txt
CMakeFiles/

# autotools project file
autoscan.log
config.log
configure.scan
autom4te.cache/

# eclipse project file
.project
.cproject
.settings/
.autotools

# vscode project file
.vscode/

# MacOS cache file
.DS_Store

# temp file
*.tmp
*~
