# global gitignore file

# cmake project file
CMakeCache.txt
CMakeFiles/

# eclipse project file
.project
.cproject
.settings/
.autotools

# vscode project file
.vscode/

# MacOS cache file
.DS_Store

# temp file
*.tmp
*~
