! ~/.Xresources config file
! https://raw.githubusercontent.com/aggresss/dotfiles/master/sh/.Xresources

! xterm configuration file made by aggresss
! usage: xrdb ~/.Xresources
! See Also: man xterm or https://linux.die.net/man/1/xterm

!xterm locale, color, font, input
xterm.locale:true
xterm.utf8: true
xterm*utf8Title:true
xterm*fontMenu*fontdefault*Label:Default
xterm*background: black
xterm*foreground: white
xterm*scaleHeight: 1.10
! English font
xterm*faceName: DejaVu Sans Mono:pixelsize=14
! Chinese font
xterm*faceNameDoublesize: WenQuanYi Micro Hei Mono:pixelsize=15
! Input method
xterm*inputMethod:fcitx
! History line
xterm*SaveLines: 9999

!mouse selection to copy, Ctrl-V, also Shift+Insert
xterm*VT100.Translations: #override \
    <Btn1Up>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
    Ctrl <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0)


! rxvt configuration file made by aggresss

! urxvt setting
URxvt*preeditType:Root
URxvt*inputMethod:fcitx
! theme setting
URxvt*background: black
URxvt*foreground: white
URxvt*colorBD: blue
URxvt*colorUL: red
! line
URxvt*shading: 100
URxvt*saveLines: 9999
URxvt*title: urxvt
! scrollbar
URxvt*scrollBar: False
! font
URxvt*font: xft:DejaVu Sans Mono:size=10:style=Regular:antialias=true,xft:WenQuanYi Micro Hei Mono:size=11:style=Regular:antialias=true
URxvt*boldfont: xft:DejaVu Sans Mono:size=10:style=BOld:antialias=true,xft:WenQuanYi Micro Hei Mono:size=11:style=Bold:antialias=true


! EOF
